* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ===================
    assets

    #042A5A
    #F4C4C4
    #282B29
    #7D2222
    #DEB873
    #D2D2D2
    #388883
====================== */